{{define "body"}}
    {{include "/partial/header.gohtml" .}}
    <form action="" method="post">
        <button type="submit">submit form</button>
    </form>
{{end}}

{{template "../shared/layout.gohtml" .}}